body{

    color: darkgoldenrod;
    text-align: center;
    font-family: "ariel";

    color: blue;
    text-align: center; 
    font-family: "Arial";
    font-size: 28px;
    margin: 0;
    padding: 0;
}
#container
{
    width: 90%;
    padding: 1em;
    text-align: left;
    border: 1px solid  #DDD;

}

#container h1
{
    font-size: 20px;
}

#cabecera
{
    background: #33A;
    box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0);
    color: white;
    font-size: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}

#cabecera #tagline
{
    padding: 0 0 0;
    font-weight: normal;
    font-size: 0.8cm;
}



